#content.events {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, minmax(1rem, 500px));
  gap: 2rem;
  padding: 1rem 3rem;
}

#content.events > h1 {
  grid-column: span 2;
  text-align: center;
}

#content.events .event {
  border: 4px solid var(--container-border-color);
  border-radius: 12px;
  padding: .5rem 1rem;
}