#content.homepage {
  display: grid;
  gap: 5rem;
  padding: 2rem;
  max-width: 1000px;
  justify-self: center;
}

#content.homepage p {
  font-size: 1.2rem;
}

#content.homepage .text-column {
  text-align: center;
  position: relative;
}

#content.homepage .text-column::after {
  content: '';
  width: 100vw;
  height: 1rem;
  background-color: #473600cb;
  position: absolute;
  left: calc((-100vw + 100%) / 2);
  bottom: -3rem;
}

#content.homepage .image-column > div:first-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  justify-self: start;
}

#content.homepage .image-column > div:last-child {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  justify-self: end;
}

#content.homepage .image-column img {
  box-shadow: 0 0 50px 50px white inset;
}

#content.homepage .image-column {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.image-container {
  border: 1rem solid var(--container-border-color);
  border-radius: 2rem;
  padding: 1.5rem;
  width: 80%;
}