@font-face {
    font-family: 'Rammetto';
    src: url('fonts/RammettoOne-Regular.woff2') format('woff2'),
        url('fonts/RammettoOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.25;
  background-color: #FFF9E6;
  color: #473600;
  font-family: 'Ubuntu', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  justify-items: stretch;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: clamp(50px, 15vh, 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 2rem;
  background-color: #FFEDB8;
  font-family: 'Rametto', Arial, Helvetica, sans-serif;
  font-weight: 900;
  border-radius: 10px;
}

header > p {
  font-size: 2rem;
}

header > nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  button {
    height: 2rem;
    color: inherit;
    font-size: 1.2rem;
    font-family: inherit;
    border: 4px solid rgb(213, 139, 0);
    background-color: transparent;
    border-radius: 8px
  }
}

#content {
  display: grid;
  gap: 3rem;
  grid-template-columns: 2fr 3fr;
  padding: 2rem;
  max-width: 1000px;
  justify-self: center
}

#content p {
  font-size: 1.2rem;
}

#content .image-column > div:first-child {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

#content .image-column > div:last-child {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

#content .image-column img {
  box-shadow: 0 0 50px 50px white inset;
}

#content .image-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background-color: #1A1300;
  color: #fff;
  width: 100vw;
  ul {
    list-style: none;
  }
  a {
    color: #fff;
  }
  a:hover {
    text-decoration: underline;
    color: #FFEDB8;
  }
}